apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: stack4things-cluster
servers: 1
agents: 2

options:
  k3s:
    extraArgs:
      - arg: "--kube-apiserver-arg=oidc-issuer-url=https://host.k3d.internal:8443/realms/stack4things"
        nodeFilters: ["server:*"]
      - arg: "--kube-apiserver-arg=oidc-client-id=kubernetes"
        nodeFilters: ["server:*"]
      - arg: "--kube-apiserver-arg=oidc-username-claim=preferred_username"
        nodeFilters: ["server:*"]
      - arg: "--kube-apiserver-arg=oidc-groups-claim=groups"
        nodeFilters: ["server:*"]
      - arg: "--kube-apiserver-arg=oidc-groups-prefix=keycloak:"
        nodeFilters: ["server:*"]
