[submodule "crossplane-s4t-provider"]
	path = crossplane-s4t-provider
	url = https://github.com/fratrung/crossplane-s4t-provider
[submodule "s4t-rbac-operator"]
	path = s4t-rbac-operator
	url = https://github.com/fratrung/s4t-rbac-operator
	branch = main
[submodule "Stack4Things_k3s"]
	path = Stack4Things_k3s
	url = https://github.com/fabiooraziomirto/Stack4Things_k3s
