# This rule is not used by the project sync-controller itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the iot.s4t.io.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: sync-controller
    app.kubernetes.io/managed-by: kustomize
  name: device-editor-role
rules:
- apiGroups:
  - iot.s4t.io
  resources:
  - devices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iot.s4t.io
  resources:
  - devices/status
  verbs:
  - get
